<div class="container-fluid bg-light py-5 text-center" style="min-height: 100vh; display: flex; align-items: center;">
    <div style="margin: 0 auto;">
      <h1 class="display-3 fw-bold text-primary">Gulam Simnani</h1>
      <p class="lead">Front End/Angular Developer | Full-Stack(MEAN/MERN) Expert Developer with 10+ Years of Experience</p>
      <p class="mt-3">Specializing in scalable web solutions for Fintech, Travel, and LMS</p>
      <a class="btn btn-primary btn-lg mt-4 shadow" routerLink="/projects">Explore My Work</a>
    </div>
  </div>